<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    
    <h1>Get Ingredients Needed</h1>
    
    <div class="form-control form-style">
        <form action="/ingredients" method="POST">

            <label>Start Week:</label>
            <input type="number" name="startWeek" />

            <label>Start Day:</label>
            <select name="startDay">
              <option value="Monday">Monday</option>
              <option value="Tuesday">Tuesday</option>
              <option value="Wednesday">Wednesday</option>
              <option value="Thursday">Thursday</option>
              <option value="Friday">Friday</option>
              <option value="Saturday">Saturday</option>
              <option value="Sunday">Sunday</option>
            </select>

            <label>End Week:</label>
            <input type="number" name="endWeek" />
          
            <label>End Day:</label>
            <select name="endDay">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
            </select>
          
            <button type="submit">Get Ingredients</button>
          </form>
    </div>

    <!-- <pre><%= JSON.stringify(ingredients, null, 2) %></pre> -->

    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>

    <% if (ingredients) { %>

        <h2>Ingredients Needed for <% if(startWeek === endWeek) { %>
            <%= startDay %> - <%= endDay %>, Week <%= startWeek %>
        <% }else{ %>
            <%= startDay %>, Week <%= startWeek %> - <%= endDay %>, Week <%= endWeek %>
        <% } %>  
             </h2>
        <ul>
            <% ingredients.forEach(ingredient => { %>
                <li>
                    <%= ingredient.name %>: 
                    <%= ingredient.quantity %> 
                    <%= ingredient.unit %>
                </li>
            <% }) %>
        </ul>
    <% } %>

    <!-- <script>
        document.getElementById('ingredientForm').addEventListener('submit', (e)=> {
            e.preventDefault();

            const inputValue = document.getElementById('week-number').value;

            
                fetch('/ingredients', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ inputValue })
                })
                .then(res => res.json())
                .then(data => {
                    console.log('Server response:', data);
                })
                .catch(err => console.error('Error:', err));
            
        });
    </script> -->
</body>
</html>