<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    
    <h1>Get Ingredients Needed</h1>
    
    <div class="form-control form-style">
        <form action="/ingredients" method="POST">

            <label>Start Week:</label>
            <input type="number" name="startWeek" />

            <label>Start Day:</label>
            <select name="startDay">
              <option value="Monday">Monday</option>
              <option value="Tuesday">Tuesday</option>
              <option value="Wednesday">Wednesday</option>
              <option value="Thursday">Thursday</option>
              <option value="Friday">Friday</option>
              <option value="Saturday">Saturday</option>
              <option value="Sunday">Sunday</option>
            </select>
            <br>
            <label>End Week:</label>
            <input type="number" name="endWeek" />
          
            <label>End Day:</label>
            <select name="endDay">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
            </select>
            <br>
            <button type="submit">Get Ingredients</button>
          </form>
    </div>

    <!-- <pre><%= JSON.stringify(ingredients, null, 2) %></pre> -->

    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>

    <% if (ingredients) { %>

        <h2>Ingredients Needed for <% if(startWeek === endWeek && startDay === endDay){ %>
            <%= startDay %>, Week <%= startWeek %>
        <% }else if(startWeek === endWeek) { %>
            <%= startDay %> - <%= endDay %>, Week <%= startWeek %>
        <% }else{ %>
            <%= startDay %>, Week <%= startWeek %> - <%= endDay %>, Week <%= endWeek %>
        <% } %>  
             </h2>

             <div class="container">
                <div class="group-column">
                <button class="button dairy" data-group="dairy">Dairy</button>
                <ul class="group-list dairy hidden">
                    <!-- <button class="button dairy" data-group="dairy">Dairy</button> -->
                    <% ingredients.forEach(ingredient => { %>
                        <% if(ingredient.group === 'dairy') { %> 
                        <li>
                            <%= ingredient.name %>: 
                            <%= ingredient.quantity %> 
                            <%= ingredient.unit %>
                        </li>
                        <% } %>
                    <% }) %>
                </ul>
                </div>
                
                <div class="group-column">
                <button class="button seasoning" data-group="seasoning">Seasoning</button>
                <ul class="group-list seasoning hidden">
                    <!-- <button class="button seasoning" data-group="seasoning">Seasoning</button> -->
                    <% ingredients.forEach(ingredient => { %>
                        <% if(ingredient.group === 'seasoning') { %> 
                        <li>
                            <%= ingredient.name %>: 
                            <%= ingredient.quantity %> 
                            <%= ingredient.unit %>
                        </li>
                        <% } %>
                    <% }) %>
                </ul>
                </div>
        </div>
        <div class="container">

        <div class="group-column">
        <button class="button fresh" data-group="fresh">Fresh</button>
        <ul class="group-list fresh show">
            <!-- <button class="button fresh" data-group="fresh">Fresh</button> -->
            <% ingredients.forEach(ingredient => { %>
                <% if(ingredient.group === 'fresh') { %> 
                <li>
                    <%= ingredient.name %>: 
                    <%= ingredient.quantity %> 
                    <%= ingredient.unit %>
                </li>
                <% } %>
            <% }) %>
        </ul>
        </div>
        
        <div class="group-column">
        <button class="button frozen" data-group="frozen">Frozen</button>
        <ul class="group-list frozen show">
            <!-- <button class="button frozen" data-group="frozen">Frozen</button> -->
            <% ingredients.forEach(ingredient => { %>
                <% if(ingredient.group === 'frozen') { %> 
                <li>
                    <%= ingredient.name %>: 
                    <%= ingredient.quantity %> 
                    <%= ingredient.unit %>
                </li>
                <% } %>
            <% }) %>
        </ul>
        </div>

        <div class="group-column">        
        <button class="button pantry" data-group="pantry">Pantry</button>
        <ul class="group-list pantry show">
            <!-- <button class="button pantry" data-group="pantry">Pantry</button> -->
            <% ingredients.forEach(ingredient => { %>
                <% if(ingredient.group === 'pantry') { %> 
                <li>
                    <%= ingredient.name %>: 
                    <%= ingredient.quantity %> 
                    <%= ingredient.unit %>
                </li>
                <% } %>
            <% }) %>
        </ul>
        </div>
        
        <div class="group-column">
        <button class="button produce" data-group="produce">Produce</button>
        <ul class="group-list produce show">
            <!-- <button class="button produce" data-group="produce">Produce</button> -->
            <% ingredients.forEach(ingredient => { %>
                <% if(ingredient.group === 'produce') { %> 
                <li>
                    <%= ingredient.name %>: 
                    <%= ingredient.quantity %> 
                    <%= ingredient.unit %>
                </li>
                <% } %>
            <% }) %>
        </ul>
        </div>
    </div>
    <% } %>

    <script src="/main.js"></script>
</body>
</html>